<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Road Sign Detection</title>
    <link type="text/css" rel="stylesheet" href="https://golden-layout.com/files/latest/css/goldenlayout-base.css" />
    <link type="text/css" rel="stylesheet" href="https://golden-layout.com/files/latest/css/goldenlayout-light-theme.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css"></link>
  </head>
  <body>
  </body>
  <script src="/static/js/dist/bundle.js"></script>
</html>
